{% extends  'base.html' %}
{% load static %}
{% block content %}
{% for message in messages %}
    <p id="demo1" style="text-align:center;">{{message}}</p>
{% endfor %}
<p  id="msg" class="sticky-top " style="z-index: 500; text-align:center; color:red"></p>
<div class="row featured__filter">
    
    {% for cart in carts %}
        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
            <div class="featured__item">
                <div class="featured__item__pic set-bg" id ='abcimage'data-setbg="{% if cart.product.image1 %}{{cart.product.image1.url}}{% endif %}">
                    <ul class="featured__item__pic__hover">
                        <li><a href="{% url 'product:add-wishlist' request.user.username cart.product.id %}"><i class="fa fa-heart"></i></a></li>
                        <li><a href="{% url 'payments:create-checkout-session' cart.product.id %}">👜</a></li>
                        <li><a href="#" onclick="clicked({{cart.id}})">❌</a></li>
                        
                </ul>
                </div>
                <div class="featured__item__text">
                    <h6><a href="{% url 'product:product_detail' cart.product.id %}">Product Name : {{cart.product.name}}</a></h6>
                    Description: {{cart.product.description}} <br>
                    Seller: {{cart.product.user.username }}  <br>  
                    Category:{{cart.product.category}}<br>  
                    Quantity Available : {{cart.product.quantity}} <br>
                    Quantity Available Added In Cart : 

                    <br>
                     <button onclick="decreased({{cart.id}},{{forloop.counter}})"id="decs{{forloop.counter}}"> ⛔️</button><br> <p id="val{{forloop.counter}}">{{cart.quantity}} </p><button onclick="increased({{cart.id}},{{forloop.counter}})"id="inc{{forloop.counter}}">➕</button><br>
                    
                    Status: {{cart.product.status}} <br>
                    Price Choosen :<p class="hello{{forloop.counter}}"> {{ cart.total_price }}    </p> 
                    <h5>Price: Rs.{{ cart.product.price }}</h5><br>
                </div>
                
            </div>
        </div>
        {% endfor %}
</div>

<script src="{% static 'js/main.js' %}"></script>

<script>
    function clicked(cid) {
        event.preventDefault();
        if (confirm("Do you really want to delete the product from cart?")) {
          var username = "{{ request.user.username }}";
          var cid = cid;
          var url = "/delete-cart/" + username + "/" + cid + "/";
          window.location.href = url;
        }
      }

        function getCSRFToken() {
            var cookieValue = null;
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              if (cookie.startsWith('csrftoken=')) {
                cookieValue = cookie.substring('csrftoken='.length, cookie.length);
                break;
              }
            }
            return cookieValue;
          }

      
        
          $("#demo1").slideUp(4000).delay(3000)

        function increased(cid,pid){
          event.preventDefault();
          var increaseURL = "{% url 'product:increase' 0  %}".replace("0",cid);
          $.ajax({
            url:increaseURL,
            type: "GET",
            contentType:"application/json",
            success : function(response){
              $("#msg").html(response.message);
              $(`#val${pid}`).html(response.quantity);
              $(`.hello${pid}`).html(response.total_price);
              $("#msg").show()
              $("#msg").slideUp(4000).delay(4000)
            }
          });

        }
        function decreased(cid,pid){
          event.preventDefault();
          var decreasedURL="{% url 'product:decrease' 0 %}".replace("0",cid);
          $.ajax({

              url:decreasedURL,
              type:"GET",
              contentType:"application/json",
              success: function(response){
                $("#msg").html(response.message);
                $(`#val${pid}`).html(response.quantity);
                $(`.hello${pid}`).html(response.total_price);
                $("#msg").show()
                $("#msg").slideUp(3000).delay(3000)
              }

          });

        }
        

    </script>

    {% include 'pagination.html' with page=carts %}

        

{% endblock content %}
