{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .comment-section {
        margin-top: 100px;

    }
    #msg{
        background-color:green;
        color:black;
    }

</style>
{% for message in messages %}
    <p style="text-align:center;">{{message}}</p>
{% endfor %}
<p id="msg" class="sticky-top " style="z-index: 500; text-align:center;"></p>

<div class="row">
    <div class="col-lg-9">
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat" >
                <div class="featured__item" style="margin:center;">
                    <div class="featured__item__pic set-bg" id='abcimage'
                        data-setbg="{% if product.image1 %}{{product.image1.url}}{% endif %}">
                        <ul class="featured__item__pic__hover">
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'product:add-wishlist' request.user.username product.id %}"><i
                                        class="fa fa-heart"></i></a></li>
                                        <li><a href="{% url 'payments:create-checkout-session' product.id %}">👜</a></li>
                            {% endif %}
                            <li><a href="{% url 'product:add_to_cart' product.id %}"><i
                                        class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Product Name : {{product.name}}</a></h6>
                        Description: {{product.description}} <br>
                        Seller: {{product.user.username }} <br>
                        Category:{{product.category}}<br>
                        Quantity Available : {{product.quantity}} <br>
                        Status: {{product.status}} <br>
                        <h5>Price: Rs.{{ product.price }}</h5><br>
                        Likes: {{likes.count}}
                    </div>
                </div>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'product:like' product.id %}">like now</a>
        
        
        <form id="formdata" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div style="color:blue;">
                {{ field}}
            </div>
            {% endfor %}
            <input type="submit" value="Submit" onclick="clicked({{id}})">
        </form>
        {% else %}
        <p> Login to Like and Comment </p>
        {% endif %}
    </div>
    <div class="col-lg-3 comment-section">
        
    <div id="comments-container"> 
        {% for comment in comments %}
        <div class="comment-class"
            
            <h4>From :{{ comment.user.username }} </h4><br>
            email : {{ comment.user}} <br>
            Comment: {{ comment.details }}<br>
            {% if request.user == comment.user %}
            <a href="#" onclick="deletefunction({{comment.id}})">
            <button class="btn btn-danger ">Delete</button>
            </a>
            {% endif %}
            <br>
            
        </div>
        {% endfor %}
       
    </div>
</div>
<p id="helio"> Comment </p>

<script src="{% static 'js/main.js' %}"></script>

<script>
    function getCSRFToken() {
        var cookieValue = null;
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          if (cookie.startsWith('csrftoken=')) {
            cookieValue = cookie.substring('csrftoken='.length, cookie.length);
            break;
          }
        }
        return cookieValue;
      }
    function clicked(id){
        console.log(id);
        console.log("Hello");
        event.preventDefault();
        var formdata= $("#formdata").serializeArray();
        var jsonData={};
        for(var i=0;i<formdata.length;i++){
            var item = formdata[i];
            jsonData[item.name]=item.value;
        }
        var jsonStr= JSON.stringify(jsonData);
            $.ajax({

            url: "{% url 'product:product_detail' pk=id %}",
            type:'POST',
            contentType:"application/json",
            data:jsonStr,
            headers:{
                'X-CSRFToken':getCSRFToken()
            },
            success: function (response) {
                console.log(id)
                $("#formdata").each(function(){
                    this.reset();
                })
                var newCommentHtml = '<div class="comment">';
                newCommentHtml += '<h4>From: ' + response.comment.user.username + '</h4>';
                newCommentHtml += 'email: ' + response.comment.user.email + '<br>';
                newCommentHtml += 'Comment: ' + response.comment.details + '<br>';
                newCommentHtml+=`<a href="#" onclick="deletefunction(${response.comment.id})">`
                newCommentHtml += '<button class="btn btn-danger delete-comment-btn" data-comment-id=" onclick="deletefunction()"' + response.comment.id + '">Delete</button>';
                newCommentHtml += '</div>';
                $('#comments-container').append(newCommentHtml);
                $("#msg").html(response.comment.message)
                $("#msg").show();
                $("#msg").slideUp(4000).delay(4000);

                

            }


        });






    }
    function deletefunction(cid){
        event.preventDefault();
        var deleteUrl = "{% url 'product:delete-comment' 0 %}".replace('0', cid);
        $.ajax({
            url:deleteUrl,
            type:"GET",
            contentType:"application/json",
            headers:{
                'X-CSRFToken':getCSRFToken()

            },
            success: function(){ 
                console.log(cid)
                var location = `a[onclick="deletefunction(${cid})"]`
                $(location).closest('div').html("");
                $("#msg").html("Deleted Your Comment !!!")
                $("#msg").show();
                $("#msg").slideUp(4000).delay(4000);
            },
            error : function(){
                console.log("Errors")
            }
        });
    }






</script>




{% endblock content %}
