  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> ABC@gmail.com</li>
                            <li>Free Shipping for all Order of $99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="img/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="header__top__right__auth">
                            <a href="{% url 'user:logout' %}"><i class="fa fa-user"></i> Logout</a>
                            
                        </div>

                        <div class="header__top__right__auth">
                            <a href="{% url 'product:my_products' %}"> My Products </a>
                            
                        </div>
                        <div class="header__top__right__auth">
                            <a href="{% url 'inventory:my_inv' %}"> Inventory </a>
                            
                        </div>
                        {% else %}
                        
                        <div class="header__top__right__auth">
                            <a href="{% url 'user:login' %}"><i class="fa fa-user"></i> Login</a>

                            
                        </div>
                        <div class="header__top__right__auth">
                            <a href="{% url 'user:register' %}"><i class="fa fa-user"></i> Sign Up</a>
                            
                            
                        </div>
                        {% endif %}

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li>
                            <li class="active"><a href="{% url 'product:home' %}">Home</a></li>
                            <li class="active" ><a href="{% url 'product:shop1' %}">Shop</a></li>
                            <li class="active" ><a href="{% url 'product:sell-product' %}">Sell Item</a></li>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>

                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'product:wishlist' request.user.username %}"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a href="{% url 'product:my_cart' request.user.username %}"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        {% endif %}
                    </ul>
                    <div class="header__cart__price">item: <span>$150.00</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->